{% extends "base.html" %}

{% block page_content %}
<p class="h4">Title and Description: </b>
<p><b>{{ book.title_description }}</b></p>
<hr>
    <!-- <div class="col-md-8">
        {% if book.image_str %}
            <img src="{{ book.image_str }}" width="100%">
        {% endif %}
    </div> -->

<div>
    <b>Contributors: </b>
    <p>{{ book.contributors }}</p>

    <b>Date: </b>
    <p>{{ book.date }}</p>

    <b>Publisher: </b>
    <p>{{ book.publisher }}</p>

    <b>Category: </b>
    <p>{{ book.category }}</p>

    <b>Language: </b>
    <p>{{ book.language }}</p>

    <b>Notes: </b>
    <p>{{ book.notes }}</p>

    <b>Call Number: </b>
    <p>{{ book.call_num }}</p>

    <b>Barcode: </b>
    <p>{{ book.barcode }}</p>

    <b>Location Code: </b>
    <p>{{ book.loc_code }}</p>

    <b>British Museum Catalogue (1882): </b>
    <p>{{ book.BM_cat }}</p>

</div>
{% endblock page_content %}

<!-- title_description = models.TextField()
    contributors = models.TextField(null=True, blank=True)
    date = models.CharField(max_length=50, null=True, blank=True)
    place_origin = models.TextField(null=True, blank=True)
    publisher = models.TextField(null=True, blank=True)
    category = models.TextField(null=True, blank=True)
    language = models.CharField(max_length=100)
    genre = models.TextField(null=True, blank=True) #bucolica, georgica, aeneid, etc.
    call_num = models.TextField(null=True, blank=True)
    notes = models.TextField()
    image_loc = models.FileField(upload_to="bookcat_images/", null=True, blank=True)
    image_str = models.TextField(null=True, blank=True)
    barcode = models.CharField(max_length=50, null=True, blank=True)
    loc_code = models.CharField(max_length=50, null=True, blank=True)
    BM_cat = models.CharField(max_length=50, null=True, blank=True) 

{% if book.contributors %}
        <b>Contributors: </b>
        <p>{{ book.contributors }}</p>
    {% endif %}
    {% if book.date %}
        <b>Date: </b>
        <p>{{ book.date }}</p>
    {% endif %}
    {% if book.publisher %}
        <b>Publisher: </b>
        <p>{{ book.publisher }}</p>
    {% endif %}
    {% if book.category %}
        <b>Category: </b>
        <p>{{ book.category }}</p>
    {% endif %}
    {% if book.language %}
        <b>Language: </b>
        <p>{{ book.language }}</p>
    {% endif %}
    {% if book.notes %}
        <b>Notes: </b>
        <p>{{ book.notes }}</p>
    {% endif %}
    {% if book.call_num %}
        <b>Call Number: </b>
        <p>{{ book.call_num }}</p>
    {% endif %}
    {% if book.barcode %}
        <b>Barcode: </b>
        <p>{{ book.barcode }}</p>
    {% endif %}
    {% if book.loc_code %}
        <b>Location Code: </b>
        <p>{{ book.loc_code }}</p>
    {% endif %}
    {% if book.BM_cat %}
        <b>British Museum Catalogue (1882): </b>
        <p>{{ book.BM_cat }}</p>
    {% endif %}-->