
{% extends "base.html" %}

{% block page_content %}

<!-- <div>
    <img src="https://api.finarte.it/api/lotto/immagine/106928/2/800" 
        alt="Banner"
        
    />
</div> -->

<div>
    <div class="img__wrap">
        <img class="img__img" src="https://api.finarte.it/api/lotto/immagine/106928/2/800"
        style="display: block; width: 100%; height: 500px; object-fit: cover; object-position: 100% 33%;"
        />
        <p class="img__description">Codex Mediceus. Publius Vergilius Maronis Codex Antiquissimus. 1741.</p>
    </div>
</div>

<br>
<p class="h1">Catalog of the Charles H. Forbes Collection of Vergiliana</p>
<br>

<p class="d-inline-flex gap-1">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Search
    </button>
</p>
  <div class="collapse" id="collapseExample">
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {{ myFilter.form.as_p }}
                <div style="text-align:left">
                    <button class="btn btn-outline-primary" type="submit">Enter</button>
                </div>
                </form>
            </div>
        </div>
    </div>
  </div>

<table class="table">
    <thead>
        <tr>
            <th scope="col" style="width: 20rem;">Cover</th>
            <th scope="col" style="width: 50rem;">Information</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <td>
                    {% if book.image_str %}
                        <img src="{{ book.image_str }}" class="rounded" style="width: 20rem;">
                    {% endif %}
                </td>
                <td>
                    <p><a href="{% url 'bookcat_detail' book.pk %}">
                        <b style="color:0d6efd">{{ book.title_description|truncatechars:100 }}</b>
                    </a></p>
                    <p>Contributors: {{ book.contributors }}</p>
                    <p>Date: {{ book.date }}</p>
                    <p>Publisher: {{ book.publisher }}</p>
                    <p><small class="text-muted">{{ book.category }}</small></p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}