html * {
    font-size: 16px;
    line-height: 1.5;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
  }
/* 
.small, small {
  font-size: 80%;
  font-weight: 400;
} */

.img__wrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ecdec6;
  color: #6b5b45;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.input {
  width: 100rem;
}

/* #id_contributors__contains{
  width: 900px;
} */